#theia-top-panel {
  min-height: 64px;
  display: block;
}

#window-controls {
  height: 32px;
}

.p-Widget .theia-icon {
  display: inline-block;
}

.p-Widget .p-MenuBar {
  display: inline-block;
}

.theia-arduino-toolbar {
  flex-direction: row;
}

#theia-left-right-split-panel {
  /* top: 64px !important; */
}
