#widget-container h2 {
  color: var(--theia-ui-font-color1);
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
  text-transform: uppercase;
}

.my-family-icon {
  min-width: var(--theia-icon-size);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding-right: 4px;
}
